{% extends "homepage/base.html" %}
{% load static %}
{% block waste %}
    
        
        
    
    <div class="container" style="margin-top: 8rem;" id="about">
        <div class="row py-5 px-5" style="background-color: #c5c6c7; border-radius: 0.7rem;">
                
                      
                <div class="col-md-6 my-5">
                    <img src="{% static 'homepage/images/us.jpg' %}" alt="" class="w-100">  
                </div>

                <div class="col-md-6 text-dark text-center my-5">
                    <p>A short description of the committee, members, goals, and achievements!</p>
                </div>
             
        </div>
    </div>
            
            
       
        
    
{% endblock waste %}
