{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'homepage/main.css' %}">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>SICoMS</title>
  {% endif %}
</head>

<body class="">

  <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="nav">
    <a class="navbar-brand" href="{% url 'homepage-home' %}" id="navbar-brand">
      <img src="{% static 'homepage/images/o1.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      SICoMS
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mr-auto">
        <a class="nav-link" href="{% url 'homepage-home' %}" id="hover">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="{% url 'about-page' %}" id="hover">About</a>
        <a class="nav-link" href="{% url 'events-home' %}" id="hover">Events</a>
        <a class="nav-link" href="{% url 'workshops-home' %}" id="hover">Workshops</a>
      </div>

      <div class="navbar-nav">
        {% if user.is_authenticated %}
        <img src="{{ user.profile.image.url }}" width="30" height="30" class="rounded-circle mt-1" alt="">
        <a class="nav-link" href="{% url 'profile' %}" id="hover">{{ user.profile.first_name }}</a>
        <a class="nav-link" href="{% url 'event-create' %}" id="hover">New Event</a>
        <a class="nav-link" href="{% url 'logout' %}" id="hover">Logout</a>
        {% else %}
        <a class="nav-link" href="{% url 'login' %}" id="hover">Login</a>
        <a class="nav-link" href="{% url 'register' %}" id="hover">Register</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <main role="main" class="container">
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger">
          {{ message }}
        </div>
        {% else %}
        <div class="alert alert-{{message.tags}}">
          {{ message }}
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% block content %}



    <div class="row">
      <div class="col-md-8">
        {% block innercontent %}{% endblock innercontent %}
      </div>
      <div class="col-md-4">
        <div class="content-section bg-dark rounded">
          <h3 class="text-white">Sidebar</h3>
          <hr>
          <p class='text-white'>Checkout the links you may need
          <ul class="list-group">
            <li class="list-group-item list-group-item-light bg-secondary text-white">Latest Events</li>
            <li class="list-group-item list-group-item-light bg-secondary text-white">Calls for registeration</li>
            <li class="list-group-item list-group-item-light bg-secondary text-white">etc</li>
          </ul>
          </p>
        </div>
      </div>
    </div>


    {% endblock content %}
  </main>

  {% block foot %}
  <footer class="sticky-bottom d-block mt-3 pb-1 pt-1">
    <p class="text-center text-white">© SICoMS.com | all rights reserved</p>
  </footer>
  {% endblock foot %}




  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>