{% extends "homepage/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   
    <div class="col-md-6 py-3 px-5" id="register">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-dark font-weight-bold">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-dark" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
    
{% endblock content %}
{% block footer %}
    <h1></h1>
{% endblock footer %}