{% extends "homepage/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    
    <div class="row justify-content-center text-dark">
        <div class="col-md-6 py-3 px-4" id="forget">
            <form action="" method="POST" >
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom border-dark mb-4 text-dark font-weight-bold">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-dark" type="submit">Request Password Reset</button>
                </div>
            </form>
        </div>
    </div>   
{% endblock content %}
{% block footer %}
    <h1></h1>
{% endblock footer %}