{% extends "homepage/base.html" %}
{% load static %}
{% block innercontent %}
    
    <article class="media content-section border-dark pb-4 px-5" id="article">
        <div class="media-body" id="this">
        <div class="article-metadata">
            <small class="text-muted">{{ workshop.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">{{ workshop.title }}</h2>
        <img alt="" class="w-75 mx-auto d-block rounded" src="{{ workshop.photo.url }}"><br>
        <p class="article-content text-justify">{{ workshop.summary|safe}}</p>
        <p class="article-content text-justify">{{ workshop.description|safe }}</p>
        <a href="{% url 'workshops-home' %}" class="btn btn-dark btn-sm">Let's go back to workshops page</a>
        </div>
    </article>

{% endblock innercontent %}

{% block footer %}
{% endblock footer %}




    
